/*

Creatomus Prototype Styles
NU Living variant

Type: Source Sans Pro
Type scale: 1.250 — Major Third
2.441em
1.953em
1.563em
1.25em
1em
0.8em

Colors: NU Living
Green: #78BE20, hover #6EAD1E
Pink: #E31C79, hover #CF1A6E
Black: #191923 (25,25,35)
Light Gray: #F2F4F3, hover #DCDEDD
White: #FBFEF9 (251, 254, 249)
*/

html, body {
    font-family: Arial, Helvetica, sans-serif/*'Source Sans Pro', sans-serif;
    color: #191923;*/
    font-size: 1em;
    line-height: 1.4;
    font-weight: 400;
    background: #eee;
}

/*button {padding: 0 8px; background: #eee; border: none; height: 30px; cursor: pointer;}*/
button {padding: 0 1em; background: none; border: none; color: #FBFEF9; height: 2.3em; cursor: pointer; border-radius: .2em; transition: background .2s; }
button.save {background: #0080ff; border-color: #0080ff;}
button.save {background: white; border-color: white; color: #00CE60; font-weight: bold;}
button.get-more-details {background: #ff8000; border-color: #ff8000; font-weight: bold;}

#content {position: fixed; top: 50px; /*right: 0;*/ bottom: 0; left: 0; z-index: 1000;}

header { position: fixed; top: 0; right: 0; left: 0; height: 50px; background: #78be20; transition: all 0.2s linear; z-index: 9000; }
header:after { position: absolute; left: 0; top: 0; content: ""; width: 100%; height: 100%; background: radial-gradient(circle at bottom center, #91CE46, #5A980F); opacity: .5; }

#project-logo { position: absolute; height: 3.5em; pointer-events: none; }
#project-logo img { height: 100%; }
#project-title-header { color: #FBFEF9; pointer-events: none; position: absolute; top: .25em; left: 1.5em; font-size: 1.5em; }
#project-strapline { position: relative; height: 6.5em; pointer-events: none; }
#project-strapline img { height: 100%; }

.top-links { position: absolute; top: .55em; right: .5em; white-space: nowrap; }
.top-link { color: #FBFEF9; display: inline-block; height: 2em; width: 2em; line-height: 2em; text-align: center; border-radius: .2em; }
.top-link:hover { background: rgba( 0, 0, 0, .05 ); }
.top-link .icon { font-size: 1.1em; margin-bottom: .2em; display: inline-block; vertical-align: middle; }
/*.top-link#save { width: inherit; padding: 0 .5em; }
.top-link#save .icon { margin-right: .1em; }*/

#top-header { position: relative; z-index: 3;  }
#bottom-header { position: absolute; width: 100%; bottom: 0; z-index: 2; }
/*body.bottom-header-compact #bottom-header {background: #f5f5f5 !important; border: 1px solid #ccc;}
body.bottom-header-compact #bottom-header a, body.bottom-header-compact #active-tab-mobile {color: #222;}*/

#active-tab-mobile {height: 20px; text-align: center; line-height: 20px; margin-bottom: 10px; color: white; position: absolute; bottom: 0; left: 0; right: 0; display: none; cursor: pointer;}

#horizontal-tabs {text-align: center; white-space: nowrap;}
body.tabs-hidden #horizontal-tabs {pointer-events: none; opacity: 0;}
#horizontal-tabs li { display: inline-block; position: relative; }
#horizontal-tabs a { display: block; color: white; line-height: 50px; padding: 0 .5em; transition: background .2s; }
#horizontal-tabs a:hover { background: #6EAD1E; }
#horizontal-tabs .tabnumber, #active-tab-mobile .tabnumber, #next-tab .tabnumber, #prev-tab .tabnumber { display: inline-block; height: 1.4em; width: 1.4em; margin: -.4em .3em -.2em -.2em; line-height: 1.3; text-align: center; background: rgba(0,0,0,.05); border-radius: 100%; }

#horizontal-tabs li.active::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #FBFEF9;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}


#mobile-menu-trigger { position: fixed; top: 50px; left: 0; height: 40px; width: 299px; background: #F2F4F3; /*border-bottom: 1px solid #ccc;*/ display: block; z-index: 50000; }
.hideConfigurator #mobile-menu-trigger { width: inherit; background: transparent; border-bottom: none; }
body.hideConfigurator #mobile-menu-trigger {display: none !important;}
#mobile-menu-trigger .icon { float: left; display: block; font-size: 1.5em; line-height: 40px; }
#mobile-menu-trigger a { line-height: 1em; display: block; float: left; padding: 0 12px;}
#mobile-menu-trigger a .label {font-size: .8rem; line-height: 39px; display: block; float: left; padding: 0 .4em; }
#mobile-menu-trigger a.hide-panel, body.hideConfigurator #mobile-menu-trigger a.show-panel {display: block;}
body.hideConfigurator #mobile-menu-trigger a.hide-panel, #mobile-menu-trigger a.show-panel {display: none;}

#mobile-menu-trigger {color: #191923;}
/*body.hideConfigurator #mobile-menu-trigger {text-shadow: 0 0 1px black; color: #FBFEF9; font-weight: 800;}*/
body.hideConfigurator #mobile-menu-trigger { /*text-shadow: 0 0 1px black; color: #FBFEF9;*/ }


#mobile-price {color: white; line-height: 30px; float: right; padding: 5px; font-weight: bold; font-size: 1.5rem;}
#versioning {color: white; line-height: 30px; float: right; padding: 5px 0;}
#title {color: white; line-height: 30px; float: left; padding: 10px;}
#configurator {color: white; line-height: 30px; float: left; padding: 10px; /*font-weight: bold;*/}

#versioning button {float: left; margin-right: 4px;}

.session-options {float: left;}
.session-options li {float: left; line-height: 30px; font-size: 1.4em;}
.session-options li a {padding: 0 8px; display: block;}
.session-options li a:hover {}


#model-viewer {position: fixed; top: 50px; right: 0; bottom: 0; left: 0; background-size: contain; background-repeat: no-repeat; background-position: center; z-index: 1000;
   /*transition: all 0.2s linear;*/
}

.hideConfigurator #model-viewer {left: 0;}
.showConfigurator #model-viewer {left:299px;}

#model-viewer.size, #model-viewer.exterior  {background-image: url(../img/exterior_01.jpg);}
#model-viewer.ground-floor, #model-viewer.fit-out {background-image: url(../img/gf_layout_01.jpg);}
#model-viewer.first-floor {background-image: url(../img/ff_layout_01.jpg);}

#model-viewer.avenue-house {background-image: url(../img/magtöö_taust.jpg); background-size: cover;}
#model-viewer.overview { background-image: url(../img/magtöö_taust.jpg); background-size: cover;}
#model-viewer.exterior-01 {background-image: url(../img/exterior_01.jpg);}
#model-viewer.exterior-02 {background-image: url(../img/exterior_02.jpg);}
#model-viewer.exterior-03 {background-image: url(../img/exterior_03.jpg);}
#model-viewer.gf-layout-01 {background-image: url(../img/gf_layout_01.jpg);}
#model-viewer.gf-layout-02 {background-image: url(../img/gf_layout_02.jpg);}
#model-viewer.gf-layout-03 {background-image: url(../img/gf_layout_03.jpg);}
#model-viewer.gf-layout-04 {background-image: url(../img/gf_layout_04.jpg);}
#model-viewer.gf-layout-05 {background-image: url(../img/gf_layout_05.jpg);}
#model-viewer.gf-layout-06 {background-image: url(../img/gf_layout_06.jpg);}
#model-viewer.ff-layout-01 {background-image: url(../img/ff_layout_01.jpg);}
#model-viewer.ff-layout-02 {background-image: url(../img/ff_layout_02.jpg);}
#model-viewer.ff-layout-03 {background-image: url(../img/ff_layout_03.jpg);}


#model-viewer.kitchen { background-image: url(../img/gf_layout_01.jpg); }

#model-viewer-overlay { position: fixed; top: 50px; right: 0; bottom: 0; left: 0; z-index: 1000; opacity: 0; transition: all .3s; }
	.control-bookmark { position: absolute; color: #fff; font-weight: 700; padding-left: .25em; transition: all .2s; }
	.control-bookmark:hover { transform: scale( 1.05, 1.05 ); }
		.bookmark-thumbnail { height: 3.814em; width: 3.814em; position: absolute; left: -4.4em; top: -1.4em; border-radius: 100%; border: .2em solid #FBFEF9; background-size: cover; }

#model-viewer.kitchen + #model-viewer-overlay { transition-delay: .3s; opacity: 1; }

/*#model-viewer:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff; background: linear-gradient( rgba(120, 190, 32, .5), rgba(227, 28, 121, .5) ); }*/
/*#model-viewer:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff; background: linear-gradient( #FFF, #F2F4F3 ); }*/

#model-control-panel-extra { position: fixed; top: 50px; bottom: 0; left: 0; width: calc(90% - 300px); max-width: 600px; transform: translateX(-100%); z-index: 1000; transition: all .2s linear; }

body.extras-open #model-control-panel-extra { transform: translateX(300px); }
body.extras-open #model-viewer, body.extras-open #model-viewer-overlay { opacity: .1; }

	.extra-content { background: #FBFEF9; padding: 1em; margin: .3rem; border-radius: .2rem; }

		.model-overlay-gallery { position: relative; max-height: 600px; overflow: hidden; }
			.model-overlay-gallery img { width: 100%; }
			.arrows { position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; font-size: 3.051em; color: #000; }
				.goleft, .goright { cursor: pointer; }
				.goleft { float: left; }
				.goright { float: right; }
			.dots { text-align: center; position: absolute; left: 0; right: 0; bottom: 0; }
				.dot { display: inline-block; height: .5em; width: .5em; border: 1px solid #000; border-radius: 100%; margin: .1em; transition: all .2s; }
				.dot-current { background-color: #000; }

		.extra-content h3 { font-size: 1.25em; margin: .3em 0 .2em; }
		.close-extra { font-size: .8rem; margin: -.2em 0 .6em -.3em; cursor: pointer; }
			.close-extra .icon { font-size: 1.5rem; display: inline-block; vertical-align: middle; margin-top: -.1em; }
		.controls { margin-top: 1em; }

.button { background: #78be20; color: #fff; display: inline-block; padding: .55em 0; cursor: pointer; border-radius: .2em; min-width: 10em; text-align: center; transition: all .2s; }
.button:hover { background: #6EAD1E; }

.button-secondary { background: transparent; color: #848685; border: 1px solid #DCDEDD; display: inline-block; padding: .5em 0; cursor: pointer; min-width: 10em; text-align: center; border-radius: .2em; transition: all .2s; }
.button-secondary:hover { background: #DCDEDD; }

.button-next { display: block; background: #78be20; color: #FBFEF9; border: none; margin: .65em; margin-top: 1em; }
.button-next:hover { background: #6EAD1E; }

.locked .unlock-module { background: #F2F4F3; color: #848685; border: 1px solid #DCDEDD; }
.locked .unlock-module:hover { background: #DCDEDD; }

.dialog .button-share { display: inline-block; margin: .8em 1% 0 0; padding: 1.2em .5em .7em; width: calc( 24.25% - 1em ); cursor: pointer; border-radius: .2em; color: #FBFEF9; }
.dialog .button-share:last-child { margin-right: 0; }
	.button-share .icon { display: block; font-size: 2.441em; margin-bottom: .15em; }
	.facebook { background: #3b5998; }
	.messenger { background: #0084ff; }
	.twitter { background: #00b6f1; }
	.mail { background: #df4a32; }


.inputtext { width: calc( 100% - 2em ); padding: 1em; border: none; background: #F2F4F3; text-align: center; transition: all .3s; }
.inputtext:focus { background: #DCDEDD; }


#model-viewer.render1 #viewer, #model-viewer.render1 #rotate, #model-viewer.render1 #view-select,
#model-viewer.render2 #viewer, #model-viewer.render2 #rotate, #model-viewer.render2 #view-select,
#model-viewer.render3 #viewer, #model-viewer.render3 #rotate, #model-viewer.render3 #view-select,
#model-viewer.avenue-house #viewer, #model-viewer.avenue-house #rotate, #model-viewer.avenue-house #view-select,
#model-viewer.kitchen #viewer, #model-viewer.kitchen #rotate, #model-viewer.kitchen #view-select,
#model-viewer.overview #viewer, #model-viewer.overview #rotate, #model-viewer.overview #view-select {display: none;}

#model-viewer.floor-layouts #viewer, #model-viewer.floor-layouts #rotate, #model-viewer.floor-layouts #view-select {display: block;}

#viewer {position: absolute; bottom: 20px; left: 20px; z-index: 2000;}
#rotate {display: none;}

.rotate {position: absolute; top: 50%; margin-top: -18px; width: 36px; height: 36px; display: none;}
.rotate-3d {display: none;}
#rotate-3d-cw {left: 20px; background-image: url(../img/arrow-3d-cw.svg);}
#rotate-3d-ccw {right: 20px; background-image: url(../img/arrow-3d-ccw.svg);}
#rotate-2d-cw {left: 20px; background-image: url(../img/arrow-2d-cw.svg);}
#rotate-2d-ccw {right: 20px; background-image: url(../img/arrow-2d-ccw.svg);}

.controller {}
.controller div, .controller li {width: 40px; height: 40px; text-align: center; line-height: 40px; border: 1px solid #ccc; margin-bottom: -1px; font-size: 1.3rem; background: white; cursor: pointer;}
.controller div:hover {background: #eee}
.controller div:active {background: #aaa}
#zoom div {font-size: 2rem;}



#model-control-panel {position: absolute; top: 0; left: 0; bottom: 0; width: 299px; background: #F2F4F3; border-right: 1px solid #DCDEDD; /*color: white;*/ overflow: auto; overflow-y: scroll; transition: all 0.2s linear;}
.hideConfigurator #model-control-panel { transform: translateX( -100% ); }

.it-is-mobile header, .it-is-mobile #model-viewer, .it-is-mobile #model-control-panel {transition: none;}

#configurator-modules {padding: 5px;}
#configurator-modules .module { margin-bottom: 5px; display: none; background: #FBFEF9; transition: all .3s; border-radius: .2em; }
#configurator-modules .module.visible {display: block;}
#configurator-modules .module.locked { background: #F2F4F3; }

#intro-area { padding: 1.5em; font-size: 1.25em; line-height: 1.42em; background: linear-gradient(rgba(25, 25, 35, 0.6), transparent); padding-bottom: 200px; color: white; transition: all 0.1s linear; }
#intro-area.hidden {display:none;}
#intro-text { max-width: 31em; }
#intro-area p { /*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/ margin-bottom: 1rem;}

/*#overview-area {position: absolute; top: 50px; bottom: 0; width: 100%; opacity: 1; transition: all 0.1s linear; overflow: auto; z-index: 4000;}
#overview-area.hidden {opacity: 0; pointer-events: none;}*/

/*#overview-area { padding: 1.5em; padding-right:24em; font-size: 1.25em; line-height: 1.42em; transition: all 0.1s linear;}
#overview-area.hidden {display:none;}*/



/*New rules for the overview container in the new file*/

/*.overview-container { height: 0; margin: 0; line-height: 1.4rem; overflow: auto; text-align: left; opacity: 0; transform: scale(.75,.75); transition: all .3s; transition-delay: .2s; }
.overview ~ #price-cta .overview-container { height: calc(100vh - 350px); opacity: 1; margin: 1em 0; transform: scale(1,1); }
	.overview-actions { text-align: center; max-height: 0; overflow: hidden; transition: max-height .2s; }
	.overview ~ #price-cta .overview-actions { max-height: 50px; transition-delay: .2s; }
	.overview-quickbutton { max-height: 50px; overflow: hidden; transition-delay: .2s; }
	.overview ~ #price-cta .overview-quickbutton { max-height: 0; padding: 0; border: 0; transition-delay: .2s; }
	.overview-container table {width: 100%; margin-bottom: 1rem;}
	.overview-container table th, .overview-container table td { padding: .5em 0; border-bottom: 1px solid #57575F; }
	.overview-container table th { font-size: 1.563em; padding-bottom: .2em; }
	.overview-container table td:nth-child(2) { text-align: right; }
	.overview-container h3 { font-size: 1.953em; margin: 1em 0 .5em 0; }

	.overview-container th .cta-button { font-size: 1rem; float: right; width: inherit; padding: 7px; border: none; }
	.overview-actions .cta-button { display: inline-block; width: 49%; }*/

#model-control-panel h4 { padding: 10px 10px 0; font-size: 1.25em; }

#model-control-panel section {padding: 10px; /*border-top: 1px solid #ccc;*/ /*display: none;*/ }
#my-project-overview {background: #ffeecf; /*position: absolute; bottom: 0; left: 0; right: 0; border-top: 2px solid #ccc;*/}

#model-control-panel section h5 {font-size: 1rem; opacity: .5; margin-bottom: 5px;}
#model-control-panel section ul {}
#model-control-panel section li { overflow: auto; padding: .5em 0; max-height: 15em; transition: max-height .2s, padding .2s; }
#model-control-panel section li a {clear: both; display: block; float: left; width: 100%; padding-bottom: 8px;}

#model-control-panel section li a div {float: left;}
#model-control-panel section li .selector {width: 36px; float: left;}
#model-control-panel section li .option-data {f loat: left; width: calc(100% - 36px); margin-top: -.45em; }
#model-control-panel section .materials li .option-data {width: 100%;}
#model-control-panel section li .label {min-width: 60%; /*width: calc(100% - 20px);*/}
#model-control-panel section li .label-full {width: calc(100% - 100px);}
#model-control-panel section li .label-full input {width: 100%;}
.price, .desc { font-size: 0.8em; min-width: 55%; transition: max-height .3s; max-height: 2em; }
li.selected .price {color: #78BE20;}

.option.radio { width: 24px; height: 24px; border: 1px solid #78be20; float: left; border-radius: 50%; margin-right: 8px; }
li.selected .option.radio:before {content: ''; margin: 3px; width: 18px; height: 18px; background: #78be20; border-radius: 50%; position: absolute;}

#model-control-panel section ul.materials {overflow: auto;}
#model-control-panel section ul.materials li {float: left; padding: 0;}

/*#model-control-panel section ul.materials-4-options li {width: 25%;}
#model-control-panel section ul.materials-2-options li {width: 50%;}*/

#model-control-panel .locked section li a {cursor: default; pointer-events: none;}
#model-control-panel .locked section li:not( .selected ), #model-control-panel .locked section li .selector, .locked section li .material-sample, .locked .desc { overflow: hidden; max-height: 0; padding: 0; }
#model-control-panel .locked section li .selector { visibility: hidden; }
#model-control-panel .locked section li.selected .label:before { font-family: "icomoon"; font-size: 1.5em; content: "\e906"; color: #78be20; vertical-align: sub; margin-right: .45em; }
#model-control-panel .locked section li.selected .price { visibility: hidden; }

section button {background: #78be20; width: 100%;}
section button:hover {background: #6EAD1E; }
.unlock-module, .locked .lock-module {display: none;}
.lock-module, .locked .unlock-module {display: block;}
.lock-module { margin-top: 1em; }
.locked .unlock-module { background: #F2F4F3; color: #848685; border: 1px solid #DCDEDD; margin-top: -1em; }
.locked .unlock-module:hover { background: #DCDEDD; }

.material-sample {overflow: hidden; float: left; margin-top: .5em; position: relative; max-height: 10em; transition: max-height .2s, padding .2s, margin .2s; }
.materials-4-options li {width: calc(25% - 7.5px);}
.materials-4-options li:nth-child(n+2):nth-child(-n+4) {margin-left: 10px;}
.materials-2-options li {width: calc(50% - 5px);}
.locked .materials-2-options li { width: 100%; margin: 0!important; }
.materials-2-options li:nth-child(even) {margin-left: 10px;}
.materials-1-options li {width: 100%;}
.materials-4-options .material-sample {width: 100%; height: 55px;}
.materials-2-options .material-sample {width: 100%; height: 115px;}
.materials-1-options .material-sample {width: 100%; }
.material-sample img {width: 100%;}
.materials li { position: relative; }
.materials li.selected .material-sample:after {content: ''; border: 5px solid #78be20; position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
.materials li.selected .material-sample:before {content: ''; border: 1px solid white; position: absolute; top: 5px; right: 5px; bottom: 5px; left: 5px;}

	.button-info { float: right!important; font-size: .8em; min-width: 6em; margin-top: .3em; }

	.locked .button-info { display: none; }


.material-label {clear: left;}
.materials-4-options .material-label {width: 61px;}
.materials-2-options .material-label {width: 120px;}
.materials-1-options .material-label {width: 236px;}

/*.materials-4-options .price {width: 51px;}
.materials-2-options .price {width: 110px;}
.materials-1-options .price {width: 226px;}*/


#model-control-panel .session-options {padding: 8px; position: absolute; top: 0; left: 0; right: 0; background: #FDFFFC; border-bottom: 1px solid #ddd; display: none;}

#menu-counter {opacity: .75; font-size: 0.75rem;}

.prev-next-option {font-size: .75rem; line-height: 40px; position: absolute; color: white; padding: 0 8px; display: none; opacity: .75; transition: all 0.1s linear;}
.prev-next-option:hover {opacity: 1;}
.tabs-hidden .prev-next-option {display: block;}
#prev-tab {left: 0;}
#next-tab {right: 0;}
.prev-next-option.hidden {opacity: 0; pointer-events: none;}

#cameras {display: none;}
.camera-simulator {position: absolute; color: greenyellow; font-size: 2rem;}
.camera-simulator:hover {color: white; cursor: pointer;}

#nu-living-logo {position: fixed; bottom: 20px; right: 20px;}
#nu-living-logo img {float: left; width: 80px;}



#view-select {position: absolute; bottom: 20px; right: 20px;}
#GF-view, #1F-view, #2F-view {height: 20px; line-height: 20px; border: 1px solid #ccc; margin-right: -1px; font-size: 1rem; background: white; cursor: pointer; float: left; padding: 10px;}
#view-select div.selected {background: #ccc;}
#view-select div.preferred-view {background: #fff5a9;}



/*.state2 {display: none;}
#price { position: relative; }
#price-cta { background: rgba( 25, 25, 35, .75); color: #FBFEF9; z-index: 1000; padding: 1em; position: absolute; top: 90px; right: 1em; width: 200px; text-align: center; transition: all .3s; }
.overview ~ #price-cta { width: 400px; }
#price-cta .qty-element { font-size: 2.441em; position: relative; z-index: 5; margin-bottom: .4rem; }
#price-cta .qty-label { padding: .5rem 0 0; font-size: 1rem; }*/
.cta-button { display: block; padding: 8px 0; cursor: pointer; border-radius: .2em; transition: all .2s; }
.cta-button.red { background: #E31C79; border: 1px solid #E31C79;}
.cta-button.red:hover { background: #CF1A6E; }
.cta-button.green { background: #78be20; }
.cta-button.green:hover { background: #6EAD1E; }
.cta-button.secondary { background: transparent; border: 1px solid #6C6C73; color: #96969B; }
.cta-button.secondary:hover { background: #6C6C73; }

/*.cta-morebutton { text-align: center; margin-bottom: 1.563em; cursor: pointer; }
.cta-morebutton .icon { font-size: 1.25em; vertical-align: text-top; }*/

.price-change {position: absolute; left: 0; right: 8px; text-align: center; opacity: 0; animation-duration: 1.5s; color: /*#ff4e00*/ white; text-shadow: 0 0 8px rgba(0, 0, 0, 0.35); /*font-weight: bold;*/ font-size: 2.441em; text-align: right; z-index: 4; pointer-events: none;}
.price-change-plus.activate {top: -40px; animation-name: price-change-plus;}
.price-change-minus.activate {top: -8px; animation-name: price-change-minus;}

.kredex-0::before{
   content: url("../img/kredex-01.png");
   position:relative;
   top:4px;
}
.kredex-25::before{
   content: url("../img/kredex-02.png");
   position:relative;
   top:4px;
}
.kredex-40::before{
   content: url("../img/kredex-03.png");
   position:relative;
   top:4px;
}

@keyframes price-change-minus {
    0%   {opacity: 0; top: -8px;}
    70%   {opacity: 1;}
    100% {opacity: 0; top: -40px;}
}

@keyframes price-change-plus {
    0%   {opacity: 0; top: -40px;}
    30%   {opacity: 1;}
    100% {opacity: 0; top: 0;}
}

.vertical-menu-tab {background: #ccc; display: none; margin-bottom: 8px;}
.vertical-menu-tab.active {background: gray;}
.vertical-menu-tab a {display: block; padding: 8px;}

/* Dialog overlay */
.dialog, .dialog-overlay { width: 100%; height: 100%; top: 0; left: 0; }
.dialog { position: fixed; display: flex; align-items: center; justify-content: center; pointer-events: none; z-index: 90000; }
.dialog-overlay { position: absolute; z-index: 1; background: rgba(25, 25, 35, .8); opacity: 0; transition: opacity 0.3s; }
.dialog--open .dialog-overlay { opacity: 1; pointer-events: auto; }

.dialog-content { width: 50%; max-width: 400px; min-width: 290px; background: #FBFEF9; padding: 3.8em 4em 4em; text-align: center; position: relative; z-index: 5; opacity: 0; }
.dialog--open .dialog-content { pointer-events: auto; }

	.dialog-content > div { display: none; }


/* Content */
.dialog h2 { margin: 0; font-weight: 300; font-size: 1.953em; padding: 0 0 1.7em; margin: 0; line-height: 1; }
.dialog a { color: #E31C79; }
.dialog .button { width: 100%; height: inherit; padding: 1em 0; }
.dialog .inputtext { margin-bottom: .5em; }
.dialog .aftercontent { margin-top: .5em; }

.dialog-overlay { -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }
.dialog.dialog--open .dialog-content, .dialog.dialog--close .dialog-content { -webkit-animation-duration: 0.3s; animation-duration: 0.3s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }
.dialog.dialog--open .dialog-content { -webkit-animation-name: anim-open; animation-name: anim-open; }
.dialog.dialog--close .dialog-content { -webkit-animation-name: anim-close; animation-name: anim-close; }
.dialog.dialog--open .dialog-content h2, .dialog.dialog--open .dialog-content div, .dialog.dialog--open .dialog-content button { -webkit-animation: anim-elem 0.3s both; animation: anim-elem 0.3s both; }
.dialog.dialog--open .dialog-content h2 { -webkit-animation-delay: 0.05s; animation-delay: 0.05s; }
.dialog.dialog--open .dialog-content div { -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }
.dialog.dialog--open .dialog-content button { -webkit-animation-delay: 0.15s; animation-delay: 0.15s; }

@-webkit-keyframes anim-open {
	0% { opacity: 0; -webkit-transform: translate3d(0, 50px, 0); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes anim-open {
	0% { opacity: 0; -webkit-transform: translate3d(0, 50px, 0); transform: translate3d(0, 50px, 0); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes anim-close {
	0% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
	100% { opacity: 0; -webkit-transform: translate3d(0, 50px, 0); }
}

@keyframes anim-close {
	0% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
	100% { opacity: 0; -webkit-transform: translate3d(0, 50px, 0); transform: translate3d(0, 50px, 0); }
}

/* Inner elements animations */

@-webkit-keyframes anim-elem {
	0% { opacity: 0; -webkit-transform: translate3d(0, 25px, 0); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes anim-elem {
	0% { opacity: 0; -webkit-transform: translate3d(0, 25px, 0); transform: translate3d(0, 25px, 0); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@media ( max-width: 1265px ) {
   #overview-diagram {display: none !important;}
   #graph-area::after {content: "Graafikute nägemiseks on vaja resolutsiooni vähemalt 1280px." }
}

@media ( max-width: 1820px ) {
    header { height: 80px; }
    #content, #mobile-menu-trigger, #model-viewer, #overview-area, #model-viewer-overlay, #model-control-panel-extra { top: 80px; }
    #horizontal-tabs a { line-height: 40px; }
    #price-cta { position: absolute; top: 120px; right: 1em; width: 200px; text-align: center; }
}

@media (max-width: 768px) {

    header .session-options, #view-select, .price-label {display: none;}
    /*.hideConfigurator #model-control-panel {left: -100%;}*/
    #model-viewer {z-index: 1000; }
    #model-control-panel .session-options, #mobile-price {display: block}

    #price-cta { position: fixed; top: inherit; right: 0; bottom: 0; width: inherit; text-align: center; margin-top: 100vh; padding: 0; z-index: 1000; }
    #price-cta .secondary { display: none; }
    .overview ~ #price-cta { position: absolute; width: inherit; left: 0; bottom: inherit; margin-top: 75vh; }
    .overview ~ #price-cta .overview-container { height: inherit; opacity: 1; margin: 0 .5em 3em; transform: scale(1,1); }

    #price, .cta-buttons-container { width: 50%; transition: width .2s; }
    .cta-buttons-container { position: fixed; right: .5em; bottom: .5em; }
    .overview ~ #price-cta #price, .overview ~ #price-cta .cta-buttons-container { width: calc( 100% - 1em ); }

    .price-element { font-size: 1.953em; line-height: 1.75em; margin-bottom: 0; }

    #view-select, #viewer {bottom: 75px !important;}

    #configurator-modules {margin-bottom: 50px;}

    #model-control-panel-extra { right: 0; width: calc(100% - 300px); max-width: inherit; }

    .extra-content .button, .extra-content .button-secondary { width: 49%; }
}

@media (max-width: 400px) {
	#content { right: 0; }
    #model-control-panel-extra { z-index: 80000; width: inherit; bottom: 0; }
   	body.extras-open #model-control-panel-extra { transform: translateX(0); }
   		.extra-content { height: 90%; }

    #model-control-panel {width: 100%; /*padding-top: 0;*/ top: 0;}
    body:not(.hideConfigurator) #mobile-menu-trigger { width: 100%; }
    .extra-content .button, .extra-content .button-secondary { width: 100%; margin-bottom: .2em; }
}
