#information-container{
	position:absolute;
	top:6em;
	right:1em;
	background: rgba( 25, 25, 35, .9);
	color: #FBFEF9;
	padding:1em;
	width:auto;
   z-index: 1000;
   text-align: center;
}

#information-container #graph-area {
	display:none;
	margin:auto;}

#information-container.calc-expanded:not(.state-start) #graph-area{ display:inline-block; }

/* Widths of the container with the calculations expanded */
#information-container.state-overview.calc-expanded{
	width: calc(100vw - 4em);
}

#information-container.state-normal.calc-expanded{
	width: calc(100vw - 365px);
}

/* The right part with the indicators and the pricelist */
#overview-area{
	width:200px;
	float:right;
	/*height: calc(100vh - 1em);*/
}
#information-container.state-overview #overview-area {width:500px;}

/*Start button*/
#information-container .button-start{display:none;}
#information-container.state-start .button-start{ display:block;}

/*Calculations buttons*/
#information-container .button-expand{display:none;}
#information-container .button-contract{display:none;}
#information-container.calc-contracted .button-expand{ display:block;}
#information-container.calc-contracted.state-start .button-expand {display:none;}
#information-container.calc-expanded.state-start .button-contract {display:none;}
#information-container.calc-expanded .button-contract{ display:block;}

/*Summary button*/
#information-container .button-overview {display:none}
#information-container.state-normal .button-overview {display:block;}

/* Price list overview */
#information-container .overview-container { display:none;}
#information-container.state-overview .overview-container {display: block; height: calc(100vh - 16em);}

/* Price list code from the prototype */
.overview-container {line-height: 1.4rem; overflow: auto; text-align: left; transition: all .3s; transition-delay: .2s;}
	.overview-container table {width: 99%; margin-bottom: 1rem;}
	.overview-container table th, .overview-container table td { padding: .5em 0; border-bottom: 1px solid #57575F; }
	.overview-container table th { font-size: 1.563em; padding-bottom: .2em; }
	.overview-container table td:nth-child(2) { text-align: right; width:30%;}
	.overview-container h3 { font-size: 1.953em; margin: 1em 0 .5em 0; }

	.overview-container th .cta-button { font-size: 1rem; float: right; width: inherit; padding: 7px; border: none; }
	.overview-actions .cta-button { display: inline-block; width: 49%; }


/* Indicators */
.overview-indicator {display:inline-block; margin: 0; width:150px;}
.overview-indicator .indicator { font-size: 2.441em; position: relative; z-index: 5; margin-bottom: .4rem; }
.overview-indicator .label { padding: .5rem 0 0; font-size: 1rem; }
.overview-indicator .unit { position:relative; bottom:7px; font-size: 1.2em;}

#information-container.state-start .overview-indicator{display:none;}

/*Button code from the prototype*/
/*.cta-button { display: block; padding: 8px 0; cursor: pointer; border-radius: .2em; margin-top: .3em; transition: all .2s; }
.cta-button.red { background: #E31C79; }
.cta-button.red:hover { background: #CF1A6E; }
.cta-button.green { background: #78be20; }
.cta-button.green:hover { background: #6EAD1E; }
.cta-button.secondary { background: transparent; border: 1px solid #6C6C73; color: #96969B; }
.cta-button.secondary:hover { background: #6C6C73; }*/
